<a href="https://colab.research.google.com/github/Ayesha-Muneer/Data-Science-Lab/blob/master/CO2_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from math import *
dataset =[[8,5,0],
  [3,7,0],
	[3,6,0],
	[7,3,0],
	[8,5,1],
  [3,7,1],
	[3,6,1],
	[7,3,1]]
print("The dataset with class is :",dataset)

The dataset with class is : [[8, 5, 0], [3, 7, 0], [3, 6, 0], [7, 3, 0], [8, 5, 1], [3, 7, 1], [3, 6, 1], [7, 3, 1]]

In [ ]:
#separate the dataset with class
def separate_by_class(dataset):
	separated = dict()
	for i in range(len(dataset)):
		vector = dataset[i]
		class_value = vector[-1]
		if (class_value not in separated):
			separated[class_value] = list()
		separated[class_value].append(vector)
	return separated

In [ ]:
#print separated sets
separated = separate_by_class(dataset)
for label in separated:
	print(label)
	for row in separated[label]:
		print(row)

0
[8, 5, 0]
[3, 7, 0]
[3, 6, 0]
[7, 3, 0]
1
[8, 5, 1]
[3, 7, 1]
[3, 6, 1]
[7, 3, 1]

In [ ]:
# Calculate the mean and the standard deviation 
def mean(numbers):
	return sum(numbers)/float(len(numbers))
def stdev(numbers):
	avg = mean(numbers)
	variance = sum([(x-avg)**2 for x in numbers]) / float(len(numbers))
	return sqrt(variance)

In [ ]:
# Create summary
def summarize_dataset(dataset):
	summaries = [(mean(column), stdev(column), len(column)) for column in zip(*dataset)]
	del(summaries[-1])
	return summaries
summary = summarize_dataset(dataset)
print(summary)

[(5.25, 2.277608394786075, 8), (5.25, 1.479019945774904, 8)]

In [ ]:
# Split data
def summarize_by_class(dataset):
	separated = separate_by_class(dataset)
	summaries = dict()
	for class_value, rows in separated.items():
		summaries[class_value] = summarize_dataset(rows)
	return summaries
summary = summarize_by_class(dataset)
for label in summary:
	print(label)
	for row in summary[label]:
		print(row)

0
(5.25, 2.277608394786075, 4)
(5.25, 1.479019945774904, 4)
1
(5.25, 2.277608394786075, 4)
(5.25, 1.479019945774904, 4)

In [ ]:
# Calculate the probabilities
def calculate_probability(x, mean, stdev):
	exponent = exp(-((x-mean)**2 / (2 * stdev**2 )))
	return (1 / (sqrt(2 * pi) * stdev)) * exponent
 
def calculate_class_probabilities(summaries, row):
	total_rows = sum([summaries[label][0][2] for label in summaries])
	probabilities = dict()
	for class_value, class_summaries in summaries.items():
		probabilities[class_value] = summaries[class_value][0][2]/float(total_rows)
		for i in range(len(class_summaries)):
			mean, stdev, _ = class_summaries[i]
			probabilities[class_value] *= calculate_probability(row[i], mean, stdev)
	return probabilities
print(calculate_probability(1.0, 1.0, 1.0))

0.3989422804014327

In [ ]:
summaries = summarize_by_class(dataset)
probabilities = calculate_class_probabilities(summaries, dataset[0])
print(probabilities)

{0: 0.011234889190146062, 1: 0.011234889190146062}